body{
    background-color: aqua;
}
.div{
    display: flex;
    background-color: yellow;
    justify-content: space-between;
}
.div ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.div label{
    display: none;
}
#check{
    display: none;
}
#check:checked~.div ul{
    display: block;
}
@media screen and (max-width: 600px) {
    .div label{
        display: block;
    }
    .div ul {
        display: none;
        position: absolute;
        top: 50px;
        left: 100px;
    }
    
}